@media (max-width: 500px) {
    
    .right input{
        height: 25px;
        width: 150px;
    }
    .right textarea{
        height: 50px;
        width: 150px;
    }
}
@media (max-width: 500px){
    .left h4{
        font-size: 10px;
    }
}
@media (min-width: 800px)and (max-width: 1000px){
.contact input{
    width: 200px;
}
}
@media(max-width: 450px){
    .nav h1 center font{
        color: blue;
        font-size: 25px;
    }
}
@media(max-width: 360px){
    .nav h1 center font{
        color: yellow;
        font-size: 22px;
    }
}
@media(max-width: 325px){
    .nav h1 center font{
        color: white;
        font-size: 20px;
    }
}
@media(max-width: 300px){
    .nav h1 center font{
        color: skyblue;
        font-size: 17px;
    }
}






